#ignore those files
*.iml
# Logs and databases # 
###################### 
*.log 
*.sql 
*.sqlite 

#development-tool
/**/.settings/
/**/.classpath
/**/target/
/**/.project
/**/bin/
*.war
*.ear
/**/*.iml
/.idea/
/**/rebel-remote.xml
/**/rebel.xml
/**/.DS_Store
/**/node_modules/
velocity.log
velocity.log.1
package-lock.json
point-trade-web/src/main/vue-admin/debug.log
/**/webapp/
